.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* my css*/


@media (min-width: 992px) {

  .navbar-brand-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


@media (min-width: 992px) {

  .icon-large-spacing {
    margin: 0 10px;
  }
}


.brand-logo {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 35, 0.576);
  width: 100px;
  height: 100px;
}

.roman-navbar {
  background-color: #8c2101;
  position: sticky;
  /* or absolute, fixed, or sticky */
  z-index: 99;
}